@import "../../../../utils/styles/panelStyles";

.lgNowPlayingPanelDiv {
  @extend %lgPanelDiv;

  .ctrlPanelDiv {
    display: flex;
    align-items: center;
    width: 100%;

    > div:nth-of-type(1) {
      flex-grow: 1;
    }
  }
}
