@import "../../utils/styles/colors";

// $primaryColor: #c62adc;

.ytPlayerDiv {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin-top: -20px;
}
