@import "../../utils/styles/colors";

.tab {
  position: relative; // for expansion fabs

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: $primaryDark;
    border-radius: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background-color: lighten($primaryLight, 40%);
    border-radius: 10px;
  }
}
