@import "../../../utils/styles/colors";

.inputTabsDiv {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .playlistPanelsDiv {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-auto-columns: 1fr;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    .activePanel {
      position: fixed !important;
      top: 55%;
      left: 50%;
      z-index: 1;
      transform: translate(-50%, -50%);
    }

    .inactivePanel {
      transform: scale(0.9);
      background-color: lighten(black, 9%) !important;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
      position: relative;
      z-index: 0;

      &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0%;
        left: 0%;
        background-color: rgba(black, 0.7);
        z-index: 4;
      }
    }

    .currentInactive {
      opacity: 0;
    }

    %panelDiv {
      width: 440px;
      height: 550px;
      background: lighten(black, 8%);
      box-shadow: 5px 10px 13px -2px black;
      padding: 1em 1.5em;
    }

    .videolistPanel {
      @extend %panelDiv;
      display: grid;
      grid-template-columns: 100%;
      position: relative;
    }

    .videolistPanelLight {
      background: white !important;
    }

    .videoPanel {
      @extend %panelDiv;
      position: relative;
    }

    .videoPanelLight {
      background: white !important;
    }

    .playingPanel {
      @extend %panelDiv;
    }

    .playingPanelLight {
      background: white !important;
    }
  }
}
