// main colors
$primary: #6a1b9a;
$primaryLight: #9c4dcc;
$primaryDark: #38006b;
$secondary: #e040fb;
$secondaryLight: #ff79ff;
$secondaryDark: #aa00c7;
$error: #eb064b;

// dark mode colors
$black: rgb(43, 47, 51);
$blackLight: #4e4b53;
$softBlack: #414a4c;
