// main colors
$primary: #ef6c00;
$primaryLight: lighten($primary, 10%);
$primaryDark: darken($primary, 10%);
$secondary: #ffa000;
$secondaryLight: lighten($secondary, 10%);
$secondaryDark: darken($secondary, 10%);
$error: #eb064b;
$playing: rgb(95, 228, 95);

// dark colors
// $black: rgb(43, 47, 51);
$black: lighten(black, 10%); // #1a1a1a
$blackLight: #4e4b53;
$blackDark: lighten(black, 5%); // #0d0d0d
$softBlack: #414a4c;
$lightGrey: #2a2a2a;
$darkGrey: #282828;

// light colors
$white: #f7f7f7;

// box shadows
$blackBoxShadow: 0 11px 29px 0 rgba(0, 0, 0, 0.3);
$blackBoxShadowBottom: 0 1px 29px 0px rgba(0, 0, 0, 0.2);

// gradients
$lightPurpleRadialGradient: radial-gradient(
  circle,
  #360035,
  #300333,
  #2a0630,
  #24072d,
  #1f072a,
  #1d0627,
  #1a0523,
  #180420,
  #16031d,
  #130219,
  #100116,
  #0c0012
);
$darkPurpleRadialGradient: radial-gradient(
  circle,
  #2a0429,
  #270529,
  #240628,
  #210627,
  #1e0626,
  #1c0625,
  #1a0524,
  #180523,
  #170422,
  #160320,
  #14011f,
  #13001e
);
$lightPinkLinearGradient: linear-gradient(to top, #feada6 0%, #f5efef 100%);
$darkPinkLinearGradient: linear-gradient(
  to top,
  #ff9a9e 0%,
  #fecfef 99%,
  #fecfef 100%
);
$darkPurpleLinearGradient: linear-gradient(
  to right,
  #2a0029,
  #29002b,
  #29002e,
  #270030,
  #260033,
  #250033,
  #230034,
  #220034,
  #210033,
  #200031,
  #1f0030,
  #1e002e
);
$darkPurpleRadialGradient2: radial-gradient(
  circle,
  #5f0068,
  #530052,
  #45003d,
  #36022b,
  #27001c
);

$lightBlueLinearGradient: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
$darkBlueLinearGradient: linear-gradient(315deg, #130f40 0%, #000000 74%);
