@import "../../../../utils/styles/colors";
@import "../../../../utils/styles/variables";
@import "./placeholders";

.blurBg {
  filter: blur(5px);
}

.miniPlayerDiv {
  width: 100vw;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  place-items: center;

  .playerDark {
    @extend %player;
    background-color: $blackLight;
  }

  .playerLight {
    @extend %player;
    background-color: $secondaryLight;
  }

  .playlistDark {
    @extend %playlist;

    ul {
      li {
        &:nth-child(3) {
          background-color: $softBlack;
        }
      }

      .curSongPlaying {
        color: lighten(#08d56a, 10%);
      }
    }
  }

  .playlistLight {
    @extend %playlist;

    ul {
      li {
        &:nth-child(3) {
          background-color: white;
        }
      }
    }

    .listButtonDiv {
      button {
        // background-color: lighten($blackLight, 10%);
        background-color: white;
        color: black;

        &:hover {
          background-color: darken(white, 10%);

          @for $i from 1 through 3 {
            &:nth-child(#{$i}) {
              &::after {
                background-color: lighten(yellow, 30%);
              }
            }
          }
        }
      }
    }
  }
}

@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}
