@import "../../../utils/styles/colors";

.playingPanelDiv {
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content auto min-content;
  justify-items: center;
  position: relative;

  .playingPanelTitle {
    width: 100%;
    text-align: center;
    position: relative;

    &::after {
      content: attr(data-totalsong) " songs";
      position: absolute;
      right: 0%;
      bottom: 0%;
      font-weight: normal;
      font-size: 17px;
    }
  }
}
