@import "../../../../utils/styles/panelStyles";

.managementVideosPanelDiv {
  @extend %managementPanelDiv;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}
