@import "../../../utils/styles/colors";
@import "../../../utils/styles/variables";

$ytPanelBg: var(--yt-player-bg);
$ytListBg: var(--yt-player-list-bg);

// TODO: add back small display support in the future
.ytPlayerDiv {
  // width: 100%;
  // height: 100%;
  // display: grid;
  // grid-template-rows: 32em auto;
  // grid-template-columns: auto;
  // grid-template-areas:
  //   "player"
  //   "playlist";

  // @media screen and (min-width: $large-display-width) {
  //   grid-template-rows: auto;
  //   grid-template-columns: 65% 35%;
  //   grid-template-areas: "player playlist";
  // }

  // @media screen and (min-width: $extra-large-display-width) {
  //   grid-template-columns: 70% 30%;
  // }
  width: 100%;
  height: 100%;
  display: flex;

  .gutter {
    height: 100%;
    background-color: #eee;

    background-repeat: no-repeat;
    background-position: 50%;
  }

  .player {
    height: 100%;
    // grid-area: player;
    display: flex;
    flex-direction: column;
    background-image: $ytPanelBg;

    > div:nth-of-type(1) {
      background-color: black;
      flex-grow: 1;
    }

    .videoTitle {
      align-self: center;
      margin: 0px;
      padding: 1rem 0;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 17em;

      @media screen and (min-width: $tablet-width) {
        width: 35em;

        // larger font after tablet size
        font-size: 1.2rem;
      }

      @media screen and (min-width: $large-display-width) {
        width: 80%;
      }

      @media screen and (min-width: $extra-large-display-width) {
        width: 90%;
      }
    }
  }

  .playlist {
    height: 100%;
    width: 100%;
    // grid-area: playlist;
    background-color: $ytListBg;

    .playlistHeader {
      display: flex;
      align-items: center;

      .playerListTitle {
        margin: 0;
        padding: 1rem 0;
        padding-left: 1rem;
        font-size: 1.2rem;
      }
    }
  }
}
