@import "../../../../utils/styles/colors";

.playPauseIcon {
  height: 45px;
  width: 45px;
}

.ctrlBtnGroup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggledRepeat {
  fill: $playing;
}
