@import "../../utils/styles/colors";
@import "../../utils/styles/variables";

.playlistInputDiv {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 100%;
  place-items: center;
}
