@import "../../utils/styles/colors";
@import "../../utils/styles/variables";

.playlistInPgDiv {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 100%;
  place-items: center;

  .toggleDarkModeDiv {
    display: none;

    @media screen and (min-width: $mobile-width) {
      position: absolute;
      top: 2%;
      right: 2%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      align-items: center;

      svg {
        height: 30px;
      }

      .lightTheme {
        &:last-child {
          path {
            fill: none;
          }
        }
      }

      .darkTheme {
        &:first-child {
          circle {
            stroke: white;
            fill: none;
          }
          path {
            stroke: white;
            fill: none;
          }
        }

        &:last-child {
          path {
            stroke: white;
            &:first-child {
              fill: white;
            }
          }
        }
      }
    }
  }
}
