@import "../../utils/styles/colors";

@mixin pgContent {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    font-size: 30px;
    font-family: "Roboto", sans-serif;
  }
}

.mainPgDiv {
  .mainPgContent1 {
    @include pgContent();
    background-color: white;
    // justify-content: flex-start;

    .logo {
      margin-top: -10%;
      margin-bottom: -50px;
    }

    p {
      // color: white;
      font-size: 50px;
      // margin-top: -20%;
    }
  }

  .mainPgContent2 {
    @include pgContent();
    background-color: #f5f5f6;
  }

  .mainPgContent3 {
    @include pgContent();
    background-color: #919192;
  }
}
