@import "../../utils/styles/colors";
@import "../../utils/styles/variables";

.pulse {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 30rem;

  circle {
    fill: #fca2f0;
    transform: scale(0);
    opacity: 0;
    transform-origin: 50% 50%;
    animation: pulse 4s cubic-bezier(0.5, 0.5, 0, 1);
    animation-iteration-count: infinite;

    &:nth-child(2) {
      fill: #d1a9bd;
      animation: pulse 4s 0.75s cubic-bezier(0.5, 0.5, 0, 1);
      animation-iteration-count: infinite;
    }

    &:nth-child(3) {
      fill: #8ea8fd;
      animation: pulse 4s 1.5s cubic-bezier(0.5, 0.5, 0, 1);
      animation-iteration-count: infinite;
    }

    &:nth-child(4) {
      fill: #eecc83;
      animation: pulse 4s 2.25s cubic-bezier(0.5, 0.5, 0, 1);
      animation-iteration-count: infinite;
    }

    &:nth-child(5) {
      fill: #99d476;
      animation: pulse 4s 3s cubic-bezier(0.5, 0.5, 0, 1);
      animation-iteration-count: infinite;
    }
  }
}

.mainPgDiv {
  min-height: 100vh;
  background-color: white;
  position: relative;
  top: -10%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: min-content auto min-content;
  justify-content: center;
  align-content: center;
  justify-items: center;
  z-index: 1;

  animation-duration: 0.5s;
  animation-name: animateLogo;
  animation-timing-function: linear;
  animation-iteration-count: initial;

  .logo {
    position: relative;
    margin-bottom: -3em;
    align-self: center;
    padding: 0 0;
  }

  p {
    font-size: 50px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin: 1em auto;

    @media (max-width: $mobile-width) {
      width: 90%;
      font-size: 30px;
    }
  }

  a {
    z-index: 3;

    &:hover {
      animation-duration: 1.2s;
      animation-name: scaleButton;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
  }
}

@keyframes pulse {
  25% {
    opacity: 0.35;
  }

  100% {
    transform: scale(1);
  }
}

@keyframes animateLogo {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes scaleButton {
  from {
    scale: 1;
  }
  to {
    scale: 1.25;
  }
}
