@import "../../utils/styles/colors";

$mobile-width: 400px;

@mixin pgContent {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
  }
}

.mainPgDiv {
  .mainPgContent1 {
    @include pgContent();
    background-color: white;
    // justify-content: flex-start;

    .logo {
      margin-top: -10%;
      margin-bottom: -50px;

      @media (max-width: $mobile-width) {
        margin-top: -50%;
        // transform: translateY(-50%);
        // margin-bottom: -50px;
      }
    }

    p {
      font-size: 50px;

      @media (max-width: $mobile-width) {
        font-size: 30px;
        text-align: center;
      }
    }
  }

  .mainPgContent2 {
    @include pgContent();
    background-color: #f5f5f6;
  }

  .mainPgContent3 {
    @include pgContent();
    background-color: #919192;
  }
}
