@import "../../utils/styles/colors";

.ctrlBtnGroup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playPauseIcon {
  height: 40px;
  width: 40px;
}

.playerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}