@import "../../../utils/styles/variables";

.noVideo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .noVideoTitleDiv {
    display: flex;
    align-items: center;

    & button {
      margin-left: 0.5rem;
    }
  }

  img {
    height: 60%;

    @media screen and (max-width: $mobile-width) {
      width: 100%;
    }
  }
}
