@import "../../../utils/styles/colors";

.searchInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  input {
    margin-right: 10px;
    border: none;
    border: 1px solid var(--border-color);
    text-align: center;
    font-size: 15px;
    width: 100%;
    height: 36px;
    background-color: transparent;
    color: var(--search-input-text-color);
    outline: none;
    transition: transform 250ms ease;

    &:focus {
      &::placeholder {
        transform: translateX(-200px);
        transition: transform 250ms ease-in;
      }
    }

    &::placeholder {
      color: var(--text-color);
    }
  }

  button {
    margin: 0px 5px;
  }
}
