@import "../../../../utils/styles/colors";

.ctrlBtnGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.playerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
