@import "../../../../utils/styles/panelStyles";

.managementRecentlyPlayedPanelDiv {
  @extend %managementPanelDiv;

  .underConstruction {
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
