.App {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content auto;
  grid-template-areas:
    "header"
    "main";

  .App-header {
    grid-area: header;
  }

  .App-main {
    position: relative;
    grid-area: main;
  }
}
