.App {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content auto;
  grid-template-areas:
    "header"
    "main";
  background-image: var(--gradient-bg);

  .App-header {
    grid-area: header;
    position: sticky;
    top: 0px;
    z-index: 2; // stacks playerDropdownItem up
  }

  // prevent transparent bg when user scrolls
  .App-header-scroll {
    background-color: rgba(#{var(--bg-color-rgb)}, 0.8);
    backdrop-filter: blur(5px);
  }

  .App-main {
    position: relative;
    grid-area: main;
    display: flex;
    justify-content: center;
  }
}
