@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import "./utils/styles/colors";

@mixin background-size($cover) {
  -webkit-background-size: $cover;
  -moz-background-size: $cover;
  -o-background-size: $cover;
  background-size: $cover;
}

:root {
  /* special rgb colors mainly used in rgba function */
  --black-color-rgb: #{red($black), green($black), blue($black)};
  --white-color-rgb: #{red($white), green($white), blue($white)};

  /* colors */
  --dark-black: #{$black};
  --dark-blackLight: #{$blackLight};
  --dark-blackDark: #{$blackDark};
  --dark-softBlack: #{$softBlack};
  --dark-purple-gradient: #{$darkPurpleRadialGradient};
  --light-purple-gradient: #{$lightPurpleRadialGradient};
  --light-pink-gradient: #{$lightPinkLinearGradient};
  --dark-pink-gradient: #{$darkPinkLinearGradient};

  /* Light mode */
  --light-text-color: #222430;
  --light-contrast-text-color: var(--dark-text-color);
  --light-bg-color: #{$white};
  --light-contrast-bg-color: var(--dark-bg-color);
  --light-bg-color-rgb: var(--white-color-rgb);
  --light-gradient-bg: var(--light-pink-gradient);
  --light-border-color: #{$black};
  --light-hover-bg: #{lighten($softBlack, 50%)};
  --light-panel-bg-color: rgba(255, 255, 255, 0.4);
  --light-panel-gradient-bg: var(--light-pink-gradient);
  --light-search-input-bg-color: var(--light-bg-color);
  --light-switch-shadow-color: #373d4e;
  --light-switch-icon: "🌚";
  --light-switch-text: "dark mode";
  --light-yt-player-list-bg: #{$white};
  --light-theme-color: #e593c2;

  /* Dark mode */
  --dark-text-color: #{$white};
  --dark-contrast-text-color: var(--light-text-color);
  --dark-bg-color: var(--dark-black);
  --dark-contrast-bg-color: var(--light-bg-color);
  --dark-bg-color-rgb: var(--black-color-rgb);
  --dark-gradient-bg: var(--light-purple-gradient);
  --dark-border-color: #{$white};
  --dark-hover-bg: #{lighten(black, 15%)};
  --dark-panel-bg-color: rgba(0, 0, 0, 0.7);
  --dark-panel-gradient-bg: var(--dark-purple-gradient);
  --dark-search-input-bg-color: var(--dark-bg-color);
  --dark-switch-shadow-color: #fce477;
  --dark-switch-icon: "🌝";
  --dark-switch-text: "light mode";
  --dark-yt-player-list-bg: #{lighten(black, 20%)};
  --dark-theme-color: #7962d5;

  /* Default mode (dark) */
  --text-color: var(--dark-text-color);
  --contrast-text-color: var(--dark-contrast-text-color);
  --bg-color: var(--dark-bg-color);
  --contrast-bg-color: var(--dark-contrast-bg-color);
  --bg-color-rgb: var(--dark-bg-color-rgb);
  --gradient-bg: var(--dark-gradient-bg);
  --border-color: var(--dark-border-color);
  --hover-bg: var(--dark-hover-bg);
  --panel-bg-color: var(--dark-panel-bg-color);
  --panel-gradient-bg: var(--dark-panel-gradient-bg);
  --search-input-bg-color: var(--dark-search-input-bg-color);
  --switch-shadow-color: var(--dark-switch-shadow-color);
  --switch-icon: var(--dark-switch-icon);
  --switch-text: var(--dark-switch-text);
  --yt-player-list-bg: var(--dark-yt-player-list-bg);
  --theme-color: var(--dark-theme-color);
}

html {
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
    "Helvetica Neue", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  ::-moz-selection {
    color: white;
    background-color: lighten($primary, 15%);
  }

  ::selection {
    color: white;
    background-color: lighten($primary, 15%);
  }

  // default scrollbar styles for light theme
  &,
  & * {
    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background: $primary;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background-color: white;
    }
  }
}

// global dark theme settings
.dark {
  background-color: var(--dark-bg-color);
  color: var(--dark-text-color);
  transition: background-color 500ms !important;
  transition-timing-function: linear;

  // default scrollbar styles for dark theme
  &,
  & * {
    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background: white;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background-color: lighten($black, 30%);
    }
  }
}

// transition animation from dark theme to light theme
.transition {
  transition: background-color 500ms;
  transition-timing-function: linear;
}
