@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import "./utils/styles/colors";

@mixin background-size($cover) {
  -webkit-background-size: $cover;
  -moz-background-size: $cover;
  -o-background-size: $cover;
  background-size: $cover;
}

html {
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
    "Helvetica Neue", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  ::-moz-selection {
    color: white;
    background-color: lighten($primary, 15%);
  }

  ::selection {
    color: white;
    background-color: lighten($primary, 15%);
  }

  // default scrollbar styles for light theme
  &,
  & * {
    &::-webkit-scrollbar {
      width: 15px;
    }

    &::-webkit-scrollbar-thumb {
      background: $secondary;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background-color: lighten($secondaryLight, 20%);
    }
  }
}

// global dark theme settings
.dark {
  background-color: $black;
  color: white;
  transition: background-color 500ms !important;
  transition-timing-function: linear;

  // default scrollbar styles for dark theme
  &,
  & * {
    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: white;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background-color: lighten($black, 30%);
    }
  }
}

// transition animation from dark theme to light theme
.transition,
.transition *,
.transition *::before,
.transition *::after {
  transition: background-color 500ms;
  transition-timing-function: linear;
}
