@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import "./utils/styles/colors";

@mixin background-size($cover) {
  -webkit-background-size: $cover;
  -moz-background-size: $cover;
  -o-background-size: $cover;
  background-size: $cover;
}

:root {
  /* Light mode */
  --light-text: #222430;
  --light-bg: #232323;
  --light-theme: #d34a97;
  --panel-light-bg: rgba(255, 255, 255, 0.4);

  /* Dark mode */
  --dark-black: #{$black};
  --dark-blackLight: #{$blackLight};
  --dark-blackDark: #{$blackDark};
  --dark-softBlack: #{$softBlack};
  --dark-text: #f7f7f7;
  --dark-bg: var(--dark-black);
  --dark-theme: #bd93f9;
  --panel-dark-bg: rgba(0, 0, 0, 0.7);

  /* Default mode (dark) */
  --text-color: var(--dark-text);
  --bg-color: var(--dark-bg);
  --panel-bg-color: var(--panel-dark-bg);
  --theme-color: var(--dark-theme);
}

html {
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
    "Helvetica Neue", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  ::-moz-selection {
    color: white;
    background-color: lighten($primary, 15%);
  }

  ::selection {
    color: white;
    background-color: lighten($primary, 15%);
  }

  // default scrollbar styles for light theme
  &,
  & * {
    &::-webkit-scrollbar {
      width: 15px;
    }

    &::-webkit-scrollbar-thumb {
      background: $secondary;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background-color: lighten($secondaryLight, 20%);
    }
  }
}

// global dark theme settings
.dark {
  background-color: var(--dark-bg);
  color: var(--dark-text);
  transition: background-color 500ms !important;
  transition-timing-function: linear;

  // default scrollbar styles for dark theme
  &,
  & * {
    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: white;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background-color: lighten($black, 30%);
    }
  }
}

// transition animation from dark theme to light theme
.transition,
.transition *,
.transition *::before,
.transition *::after {
  transition: background-color 500ms;
  transition-timing-function: linear;
}
