@import "../../../utils/styles/colors";
@import "../../../utils/styles/panelStyles";

.checkedVideos {
  @extend %checkedList;
}

.videosPanelDiv {
  @extend %panelDiv;

  .videos {
    @extend %panelListItemsDiv;
  }
}

.videosItem {
  @extend %panelListItem;

  div {
    span {
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
