@import "../../../utils/styles/colors";
@import "../../../utils/styles/panelStyles";

.checkedPlaylists {
  @extend %checkedList;
}

.viewPlaylistDiv {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  .closeButton {
    position: absolute;
    top: 20px;
    left: 20px;
    border: none;
    background-color: transparent;
    color: var(--text-color);

    svg {
      transform: scale(1.5);
    }

    &:hover {
      cursor: pointer;
      transform: rotate(180deg);
      transition: transform 500ms linear;
    }

    &:focus {
      outline: none;
    }
  }
}

.videoListPanelDiv {
  @extend %panelDiv;

  .videoListItems {
    @extend %panelListItemsDiv;
  }
}

.videoListItem {
  @extend %panelListItem;
}
