@import "../../../utils/styles/colors";
@import "../../../utils/styles/variables";

.githubLogo {
  width: 20px;
  height: 15px;

  &:hover {
    path {
      fill: $primary;
    }
  }

  @media screen and (min-width: $mobile-width) {
    width: 50px;
    height: 30px;
  }
}

.mainNavDiv {
  nav {
    width: 100%;
    background-color: white;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid $primary;
    z-index: 2;

    .logo {
      width: 120px;
      height: 45px;
      margin-left: 10px;

      @media screen and (min-width: $mobile-width) {
        width: 200px;
        margin-left: 0px;
      }
    }

    a {
      font-size: 25px;
      color: $primary;
      font-family: "Roboto", sans-serif;
      text-decoration: none;

      &:first-child {
        flex-grow: 1;
      }

      &:last-child {
        margin-right: 20px;
      }

      &:not(:first-child) {
        padding: 0.4em 0.8em;

        &:not(:last-child):hover {
          background-color: $secondary;
          color: white;
        }
      }
    }

    .menuButton {
      display: inline-flex;
      margin-right: 15px;
    }
  }
}
