@import "../../../utils/styles/colors";
@import "../../../utils/styles/variables";

.githubLogo {
  width: 20px;
  height: 15px;

  &:hover {
    path {
      fill: $primary;
    }
  }

  @media screen and (min-width: $mobile-width) {
    width: 50px;
    height: 30px;
  }
}

%navDiv {
  nav {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    z-index: 2;

    .logo {
      width: 120px;
      height: 45px;
      margin-left: 10px;

      @media screen and (min-width: $mobile-width) {
        width: 200px;
        margin-left: 0px;
      }
    }

    a {
      font-size: 1.3rem;
      color: $primary;
      text-decoration: none;

      &:last-child {
        margin-right: 20px;
      }

      &:not(:first-child),
      .darkThemeIcon {
        padding: 0.4em 0.8em;
      }
    }

    .menuButton {
      display: inline-flex;
      margin-right: 15px;
    }
  }
}

.mainNavDiv {
  @extend %navDiv;

  nav {
    a {
      &:not(:first-child):not(:last-child):hover {
        background-color: $secondary;
        color: white;
      }
    }
  }
}

// topbar settings for dark theme
.navDark {
  @extend %navDiv;

  nav {
    .logo {
      fill: white;
    }

    .githubLogo {
      path {
        fill: white;
      }

      &:hover {
        path {
          fill: $secondary;
        }
      }
    }

    a {
      color: white !important;

      &:not(:last-child):hover {
        color: $secondary !important;
      }
    }
  }
}
