@import "../../../utils/styles/colors";
@import "../../../utils/styles/variables";

%anchor {
  font-size: 1.3rem;
  color: var(--text-color);
  text-decoration: none;
  padding: 0.4em 0.8em;

  &:hover {
    color: $primaryLight;
  }
}

.shufflerLogo {
  margin-left: 10px;

  svg {
    width: 120px;
    height: 45px;
    fill: var(--text-color);
  }

  @media screen and (min-width: $mobile-width) {
    margin-left: 0px;

    svg {
      width: 200px;
    }
  }
}

.navOverlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(var(--bg-color-rgb), 0.9);
  top: 50%;
  transform: translateY(-50%);

  .closeBtn {
    position: absolute;
    left: 10%;
    top: 10%;
  }
}

.navItems {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0px 0px;
  padding-left: 0px;

  > li > a {
    @extend %anchor;
  }

  @media screen and (max-width: $large-display-width) {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;

    & li {
      margin-top: 3rem;
    }
  }
}

.dropdown {
  @extend %anchor;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    .dropdownItem {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  .dropdownItem {
    display: none;
    position: absolute;
    top: 100%;
    left: 20%;
    z-index: 1;
    font-size: 18px;
    background-color: var(--bg-color);
    min-width: 150px;
    box-shadow: $blackBoxShadow;

    a {
      color: var(--text-color);
      padding: 10px 20px;
      text-decoration: none;

      &:hover {
        background-color: var(--bg-color);
        color: $primaryLight;
      }
    }
  }
}

.nav {
  user-select: none;
  box-shadow: $blackBoxShadowBottom;

  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0;
  z-index: 2;
}

.alwaysShownNavItems {
  margin-right: 0.5rem;

  @media screen and (min-width: $mobile-width) {
    margin-right: 1rem;
  }
}
